*,*::before,*::after{
    box-sizing: border-box;
}

body{
    background-color: #143F6b;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano{
    display: flex;
}

.white.active{
    background-color: #ccc;
}

.white{
width: 100px;
height: 400px;
background-color: white;
border:1px solid #333;
}

.black{
width: 60px;
height: 240px;
background-color: black;
margin-left: -30px;
margin-right: -30px;
z-index: 2;
}

.black.active{
    background-color:#333 ;
}